{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="pt-5" id="projects">
      <div class="container py-lg-5">
        <p class="paragraph"></p>
        <div class="row">
          <div class="col-lg-5 col-sm-6 mb-5">
             <div class="panel panel-default">
              <div class="panel-thumbnail">
              <h2 class="mt-3">Contact Info</h2>
              <h5 class="mt-3"><b>Phone :</b> 123456789</h5>
              <h5 class="mt-3"><b>Address :</b> #CFG Apartment,Rose Garden.Kochi</h5>
              <h5 class="mt-3"><b>Email :</b> mycake@gmail.com</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}