{% extends 'base.html' %}
{% load static %}
{% block content %}


    <section class="pt-5" id="projects" style="background-color:whitesmoke;padding-left: 250px;">
      <div class="container py-lg-5">
        <p class="paragraph"></p>
        <div class="row">
          <div class="col-lg-5 col-sm-6 mb-5">
             <div class="panel panel-default">
              <div class="panel-thumbnail">
                <img src="{% static 'images/bg12.jpg'  %}" alt="" class="img-fluid" />
                </div>
            </div>
          </div>
          <div class="col-lg-5 col-sm-6 mb-5">
             <div class="panel panel-default">
              <div class="panel-thumbnail">
              <img src="{% static 'images/bg8.jpg'  %}" alt="" class="img-fluid" /> 
              
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-sm-6 mb-5">
            <div class="panel panel-default">
             <div class="panel-thumbnail">
             <img src="{% static 'images/bg15.jpg'  %}" alt="" class="img-fluid" /> 
             </div>
           </div>
         </div>
         <div class="col-lg-5 col-sm-6 mb-5">
            <div class="panel panel-default">
             <div class="panel-thumbnail">
                <img src="{% static 'images/bg6.jpg'  %}" alt="" class="img-fluid" />
             </div>
           </div>
         </div>
         <div class="col-lg-5 col-sm-6 mb-5">
            <div class="panel panel-default">
             <div class="panel-thumbnail">
             <img src="{% static 'images/c3.jpg'  %}" alt="" class="img-fluid" /> 
             </div>
           </div>
         </div>
         <div class="col-lg-5 col-sm-6 mb-5">
            <div class="panel panel-default">
             <div class="panel-thumbnail">
             <img src="{% static 'images/c2.jpg'  %}" alt="" class="img-fluid" /> 
             </div>
           </div>
         </div>
         <div class="col-lg-5 col-sm-6 mb-5">
            <div class="panel panel-default">
             <div class="panel-thumbnail">
             <img src="{% static 'images/c4.jpg'  %}" alt="" class="img-fluid" /> 
             </div>
           </div>
         </div>
         <div class="col-lg-5 col-sm-6 mb-5">
            <div class="panel panel-default">
             <div class="panel-thumbnail">
             <img src="{% static 'images/bg13.jpg'  %}" alt="" class="img-fluid" /> 
             </div>
           </div>
         </div>
        </div>
      </div>
    </section>
{% endblock %}
