{%extends 'base.html'%}
{% load static%}
{% block title%} Home{%endblock%}

{%block content%}

  <!--<img src="{%static '/images/bg1.jpg' %}" class="d-block w-100" >-->
  <img src="{%static '/images/bg1.jpg' %}"  height="700px" width="1349px">

          <!--Middile section About Us-->
<div style="background-color:white; font-family: cursive;font-size: large;">          
  <section class="pt-5" id="projects ">
    <div class="container py-lg-5" >
      <h2 class="mt-3">About Us</h2>
      <p class="paragraph"></p>
      <div class="row">
        <div class="col-lg-5 col-sm-6 mb-5">
           <div class="panel panel-default">
            <div class="panel-thumbnail">
              <h4 class="mt-3">Best Place For Fresh Yummy Cakes</h4>
              <p class="mt-3"><b>we provide you a trustworthy and convenient platform to choose best gift for your family,friends etc.for every occasion like birthdays,anniversaries,marriage,love,farewell and many more.
                We offer wide range of products in various categories like cakes,egg-less cakes,drawing cakes,3D cakes,photo cakes etc.We also customize cakes according to customer wish</b></p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-sm-6 mb-5">
           <div class="panel panel-default">
            <div class="panel-thumbnail">
            <img src="{% static 'images/bg3.jpg'  %}" alt="" class="img-fluid" /> 
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-sm-6 mb-5">
          <div class="panel panel-default">
           <div class="panel-thumbnail">
            <img src="{% static 'images/bg7.jpg'  %}" alt="" class="img-fluid" /> 
           </div>
          </div>
       </div>
       <div class="col-lg-5 col-sm-6 mb-5" >
          <div class="panel panel-default">
            <div class="panel-thumbnail">
              <h4 class="mt-3"></h4>
              <p class="mt-3"><b>we are providing the best quality and fresh cakes to our customers.We focus on developing and innovating baking solutions that improve upon the overall product and offerings of our clients
                For us, customer satisfaction is of utmost importance and our experts are always available for guiding our clents whenever they are needed </b></p>
            </div>
          </div>
       </div>
       
      <div class="col-lg-5 col-sm-6 mb-5">
        <div class="panel panel-default">
          <div class="panel-thumbnail">
            <h2 class="mt-3">Contact Info</h2>
            <h5 class="mt-3"><b>Phone :</b> 123456789</h5>
            <h5 class="mt-3"><b>Address :</b> #CFG Apartment,Rose Garden.Kochi</h5>
            <h5 class="mt-3"><b>Email :</b> mycake@gmail.com</h5>
         </div>
       </div>
      </div>
     </div>
    </div>
  </section>
<div>
  



  

 
  
    
  

{%endblock%}


